body {
    font-family: 'Barlow', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    margin-inline-start: 5em;
    margin-inline-end: 5em;
    
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    li{
        display: flex;
        
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
.web-adress-small{
    font-size: 1.3em;
}
.claim{
    font-size: 2em;
}
.logo-row {
    border-bottom: solid 1px #f63d37;
    flex-direction: row;
    padding-bottom: 1em;
    margin-inline-start: 8em;
    margin-inline-end: 8em;
    padding-inline-start: 0;
    .web-adress{
        justify-content: flex-start;
        font-size: 1.5em;
        color: #f63d37;
        line-height: 2;
        width: 50%;
    }
    .logo-aw{
        width: 50%;
        img{
            margin-left: auto;
        }
    }
}

.video-embed div {
    position: relative;
}
.video-embed div:nth-child(1):before {
        content: '';
        position: absolute;
        width: 70%;
        height: 70%;
        background: #f63d37;
        right: -.6em;
        bottom: 0%;
        z-index: -1;
}
.video-embed div:nth-child(2) {
    position: absolute;
    bottom: 0;
}

.content-list li{
    flex-wrap: wrap;
}
.working-hours {
    background: #f1f1f1;
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    .working-list{
        width: 10em;
    }
}
.hours{
    margin-left: auto;
}
.contact-section{
    width: 30%;
}
.contact-data{
    margin-left: 4em;
    div{
        line-height: 2.3;
        border-top: solid 1px lightgray;
        span:nth-child(2){
            float: right;;
        }
    }
}
.under-main-line{
    margin-inline-start: 8em;
    margin-inline-end: 8em;
    padding-inline-start: 0;
    flex-direction: row;
    li:nth-child(2){
        margin-left: auto;
    }
}

@media (max-width: 1366px){
    .video-embed div:nth-child(2) {
        position: relative;
    }
}

@media (max-width: 1366px){
    .contact-section {
        width: 100%;
        .contact-data{
            margin-left: 0;
        }
        .working-hours {
            position: relative;
            width: 100%;
            margin-top: 2em;
            padding: 1em 0;
            .working-list {
                width: 10em;
                margin: 0 auto;
                padding-inline-start: 0;
            }
        }
    }
}