body {
    font-family: 'Barlow', sans-serif;
}
main{
    display: flex;
    flex-direction: column;    
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    li{
        display: flex;
        
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
.web-adress-small{
    font-size: 1.3em;
}
.claim{
    font-size: 2em;
}
.logo-row {
    border-bottom: solid 1px #f63d37;
    flex-direction: row;
    padding-bottom: 1em;
    margin-inline-start: 8em;
    margin-inline-end: 8em;
    padding-inline-start: 0;
    .web-adress{
        justify-content: flex-start;
        font-size: 1.5em;
        color: #f63d37;
        line-height: 2;
        width: 50%;
    }
    .logo-aw{
        width: 50%;
        img{
            margin-left: auto;
        }
    }
}
.vp-center div {
    position: relative;
}
.vp-center div::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    background: #f63d37;
    right: -1em;
    bottom: 0%;
    z-index: -1;
}
.video-embed div:nth-child(2) {
    position: absolute;
    bottom: 0;
}

.content-list li{
    flex-wrap: wrap;
}
.working-hours {
    background: #f1f1f1;
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    .working-list{
        width: 10em;
    }
}
.working-list li:nth-child(1) {
    color: #f63d37;
}
.hours{
    margin-left: auto;
}
.contact-section{
    width: 30%;
}
.contact-data{
    margin-left: 4em;
    div{
        line-height: 2.3;
        border-top: solid 1px lightgray;
        span:nth-child(2){
            float: right;;
        }
    }
}
.under-main-line{
    margin-inline-start: 8em;
    margin-inline-end: 8em;
    padding-inline-start: 0;
    flex-direction: row;
    li:nth-child(2){
        margin-left: auto;
    }
}

.video-embed > div:nth-child(1) > iframe:nth-child(1) {
    width: 100%;
    height: 100%;
    }
    
    .video-embed > div:nth-child(1) {
    height: 60vh;
    width: 60vw;
    }
    
    #content {
    min-height: 40rem;
    position: relative;
    height: calc(100vh - 10rem);
    }
    
    body {
    min-height: 28rem;
    }

@media (max-width: 1366px){
    .video-embed div:nth-child(2) {
        position: relative;
    }
}
@media (max-width: 1366px){
ul.content-list {
    padding-inline-start: 8em;
    padding-inline-end: 8em;
}
}
@media (max-width: 1366px){
.video-embed>div:nth-child(1) {
    height: 70vh;
    width: 80vw;
}
}
@media (max-width: 1366px){
    .contact-section {
        width: 100%;
        .contact-data{
            margin-left: 0;
        }
        .working-hours {
            position: relative;
            width: 100%;
            margin-top: 2em;
            padding: 1em 0;
            .working-list {
                width: 10em;
                margin: 0 auto;
                padding-inline-start: 0;
            }
        }
    }
}
@media (max-width: 850px){
.logo-row, .under-main-line {
    margin-inline-start: 2em;
    margin-inline-end: 2em;
}
}

@media (max-width: 850px) {
ul.content-list {
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}
}

@media (max-width: 850px){
.video-embed>div:nth-child(1) {
    height: 52vh;
    width: 90vw;
}
}
@media (max-width: 525px){
.logo-row {
    flex-direction: column-reverse;
    align-items: center;
    .web-adress{
        justify-content: center;
    }
    .web-adress, .logo-aw {
        width: 100%;
        img {
            margin: auto;
        }
    }
}
}