{{ define "main" }}

<ul class="content-list">
{{ range (where .Site.RegularPages "Type" "page" )}}
<li>
    <div>{{.Permalink}} - <a href="{{.Permalink}}">{{.Title}}</a></div>
    <div class="video-embed">{{.Params.vimeo_embed_code | safeHTML}} </div>
    <div class="working-hours">
        <ul class="working-list">
            <li> <strong>Nasze godziny pracy:</strong></li>
            <li>Poniedziałek: 	8-16</li>
            <li>Wtorek: 	8-16 </li>
            <li>Środa: 	8-16</li>
            <li>Czwartek: 	8-16</li>
            <li>Piątek: 	8-16</li>
        </ul>
    </div>
</li>
{{ end }}
</ul>
{{end}}